{% extends 'base.html.twig' %}

{% block title %} inscription ! {% endblock %}

{% block body %}
    <h2 class="mt-2"> Rejoindre notre Blog </h2>

    {{ form_start(form) }}
{#        <div class="m-3">#}
{#            {{ form_row(form.prenom) }}#}
{#        </div>#}
    {{ form_end(form) }}

{% endblock %}